body{
    text-align: center;
    font-size: 24px;
    color: black;
    font-family: "Oswald";
    background-color: #DFDED4;

    transition: all 3s ease;
}

.bton{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.conteiner{
    display: flex;
    justify-content: center;
    
}

.box{
    width: 90%;
    height: 800px;
    background-color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}


button {
    padding: 14px 28px;
    font-size: 32px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease;
}

/* Hover */
button:hover {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

/* Click */
button:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

img{
    width: 200px;
    border-radius: 20px;
    border: 2px solid black;
}


a{
    color: white;
    text-decoration: none;
}